<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kvest.material_design_playground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_label">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".expanding_list.ExpandableListActivity"
            android:label="@string/expandable_list" />
        <activity
            android:name=".item_selection.ItemSelectionActivity"
            android:label="@string/item_selection" />
        <activity
            android:name=".vector_animation.VectorAnimationActivity"
            android:label="@string/vector_animation"/>
        <activity
            android:name=".transitions.TransitionsActivity"
            android:label="@string/transitions" />
        <activity
            android:name=".transitions.ItemActivity"
            android:theme="@style/AppTheme.ItemActivity"/>
        <activity
            android:name=".undo_list.UndoListActivity"
            android:label="@string/undo_list"/>
        <activity
            android:name=".shared_view_pool.SharedViewPoolActivity"
            android:label="@string/shared_view_pool"/>
    </application>
</manifest>
